# Helpers

Your `.liquid` files have access to all the [standard Liquid tags and filters](https://shopify.github.io/liquid) plus the following ones from Yass.

## Variables

### page

An object representing the current page. Properties:

* `title` A titleized version of the filename (e.g. *My File* from *my-file.html*)
* `src_path` Path with the original filename (e.g. *foo/bar/zorp.md.liquid*)
* `path` URL path relative to the relative root (e.g. *foo/bar/zorp.html*)
* `dirname` Directory file is in (e.g. *foo/bar* from *foo/bar/zorp.html*)
* `filename` Name of file (e.g. *zorp.html* from *foo/bar/zorp.html*)
* `extname` File extension (e.g. *.html* from *foo/bar/zorp.html*)
* `filesize` Size of file in bytes

{% highlight html %}
<h1>{% echo "{{" %} page.title {% echo "}}" %}</h1>
{% endhighlight %}

### files

Any array of all files that will be written `dist/`. Same properties as `page`.

{% highlight html %}
{% echo '{% assign css_files = files | where: "extname", ".css" %' %}}
{% echo "{% for file in css_files %" %}}
    <link rel="stylesheet" href="{% echo "{{ file.path | relative }}" %}">
{% echo "{% endfor %" %}}
{% endhighlight %}

## Filters

### relative

Modifies a path to be relative to the current file. Useful in layouts and template that need to refer to other files.

{% highlight html %}
<script src="{% echo "{{" %} "assets/main.js" | relative {% echo "}}" %}"></script>
{% endhighlight %}

If the above HTML was in `a/b/c.html.liquid`, the script source would be `../../assets/main.js`.

### strip_index

Removes trailing `index.html`s from URLs, on the assumption that web servers will handle that. Can be disabled with the `--no-strip-index` option (useful for development builds).

{% highlight html %}
<a href="{% echo '{{ "posts/index.html" | relative | strip_index }}' %}">Posts</a>
{% endhighlight %}

### match

Returns true if the string matches the regex.

{% highlight %}
{% echo '{% assign is_asset = page.path | match: "\.(css|js|jpe?g)$" %' %}}
{% endhighlight %}

### where_match

Works like Liquid's built-it `where`, but accepts a regular expression.

{% highlight %}
{% echo '{% assign posts = where_match: "path", "^posts/.+\.html$" %' %}}
{% endhighlight %}

## Tags

### highlight

Converts the given code into something useable by [Highlight.js](https://highlightjs.org/).

{% highlight %}
{% echo "{%" %} highlight ruby {% echo "%" %}{% echo "}" %}
puts "Yass!"
{% echo "{%" %} endhighlight {% echo "%" %}{% echo "}" %}
{% endhighlight %}

Hightlight.js CSS and JS files with common languages are included by default with `yass init`. [Download](https://highlightjs.org/download) your own versions if you want different languages or themes.

### render_content

Renders a template, passing the block as a variable named `content`.

The following will render the template `templates/my_template.liquid`:

{% highlight html %}
{% echo "{%" %} render_content "my_template" {% echo "%" %}{% echo "}" %}
<p>This will be rendered inside of "my_template" from a variable called "content"</p>
{% echo "{%" %} endrender_content {% echo "%" %}{% echo "}" %}
{% endhighlight %}
