# Layouts

Layouts live in `layouts/` and will be applied to files with matching names. The `content` variable contains the data to render in the layout.

{% highlight html %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% echo "{{ page.title }}" %}</title>
  </head>
  <body>
    {% echo "{{ content }}" %}
  </body>
</html>
{% endhighlight %}

If the above layout is named *page.html.liquid*, it will match any file named `*.page.html*`. Examples:

* `foo.page.html`
* `foo.page.html.*`
* `foo.page.md` (because *.md* converts to *.html*)
* `foo.page.md.*`

The name of the layout (e.g. `page`) is removed from the final filename, resulting in `foo.html`.

## Default layouts

If you create a layout named `default.<ext>.liquid`, Yass will apply it to any `.<ext>` files without layouts. For example, a layout named `default.html.liquid` will match `foo.html` or `foo.not-a-layout.md.liquid`.

# Templates

Templates live in `templates/` and can be used in any `.liquid` files.

*templates/greeting.liquid*

{% highlight html %}
<p>Hi, my name is {% echo "{{ name }}" %}</p>
{% endhighlight %}

Render the above template with:

{% highlight html %}
{% liquid
	echo '{% render "greeting", name: "Pleck" %'
	echo '}'
%}
{% endhighlight %}

NOTE: Liquid is pretty strict about template filenames. They must match `^[a-zA-Z0-9_]\.liquid$`.
