<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="icon" href="{{ "favicon.png" | relative }}" sizes="32x32">
		{% render "asset_tags", files: files, page: page %}
	</head>
	<body>
		<header>
			<h1><a href="{{ "index.html" | relative | strip_index }}">Yass</a></h1>

			{% render "nav", page: page %}
		</header>

		<main class="flex">
			<div class="content">
				{{ content }}
			</div>
		</main>

		<footer></footer>

		<script>hljs.highlightAll()</script>
	</body>
</html>
