<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }}</title>
		<link rel="icon" href="{{ "favicon.ico" | relative }}" sizes="32x32">
		{% render "asset_tags", site: site, page: page %}
	</head>
	<body>
		<header>
			<div></div>
			{% render "nav", page: page %}
		</header>

		<section id="hero">
			<div id="title">Yass</div>
			<div id="subtitle">
				<p>Yet Another Static Site (generator)</p>
			</div>
		</section>

		<main class="flex">
			<div class="content">
				{{ content }}
			</div>
		</main>

		<footer></footer>

		<script>hljs.highlightAll()</script>
	</body>
</html>
