<nav>
	<a href="{{ "index.html" | relative | strip_index }}">Home</a>
	<a href="{{ "layouts/index.html" | relative | strip_index }}">Layouts</a>
	<a href="{{ "templates/index.html" | relative | strip_index }}">Templates</a>
	<a href="{{ "helpers/index.html" | relative | strip_index }}">Helpers</a>
	<a href="https://github.com/jhollinger/yass">Github</a>
</nav>
