<nav>
	<a href="{{ 'index.html' | relative_to: page.path }}">Home</a>
	<a href="{{ 'layouts/index.html' | relative_to: page.path }}">Layouts</a>
	<a href="{{ 'templates/index.html' | relative_to: page.path }}">Templates</a>
	<a href="{{ 'helpers/index.html' | relative_to: page.path }}">Helpers</a>
	<a href="https://github.com/jhollinger/yass">Github</a>
</nav>
