<nav>
	<a href="{{ "index.html" | relative | strip_index }}">Home</a>
	<a href="{{ "layouts-templates/index.html" | relative | strip_index }}">Layouts &amp; Templates</a>
	<a href="{{ "helpers/index.html" | relative | strip_index }}">Helpers</a>
	<a href="https://github.com/jhollinger/yass">Github</a>
</nav>
